<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box
    }
  </style>
  <title>Dashboard</title>

</head>

<body>
  <div class="join-container">
    <header class="join-header">
      <h1>Enter a room</h1>
    </header>
    <div class="main">


      {{#if loggedIn}}
      <form action="/chat">
        <div class="username">
          <label for"username">Nickname:</label>
          <input type="text" name="username" id="username" required placeholder="Enter username ..." />
        </div>
        <div class="room">
          <label for"room">Room</label>
          <select name="room" id="room">
            <option value="Code">Code</option>
            <option value="Music">Music</option>
            <option value="Fun">Fun</option>
            <option value="Events">Events</option>
          </select>
          <label for="color">Chat Color</label>
          <input type="color" name="color" id="color">
        </div>
        <button type="submit" class="join-button">Join Chat</button>
      </form>
      <a href="/user/logout">Log Out</a>
      {{else}}
      <h3>You need to be logged in to enter a chat room</h3>
      <a href="/user/login">Login</a> or <a href="/user/register">Register</a>
      {{/if}}
    </div>

  </div>

</body>

</html>