<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

</head>

<body>
  <div class="join-container">
    <header class="join-header">
      <h1>Enter a room</h1>
    </header>
    <div class="main">


      {{#if loggedIn}}
      <form action="/chat">
        <div class="username">
          <label for"username">Username</label>
          <input type="text" name="username" id="username" placeholder="Enter username ..." />
        </div>
        <div class="room">
          <label for"room">Room</label>
          <select name="room" id="room">
            <option value="code">Code</option>
            <option value="music">Music</option>
            <option value="fun">Fun</option>
            <option value="events">Events</option>
          </select>
        </div>
        <button type="submit" class="button">Join Chat</button>
      </form>
      <a href="/user/logout">Log Out</a>
      {{else}}
      <h3>You need to be logged in to enter a chat room</h3>
      <a href="/user/login">Login</a> or <a href="/user/register">Register</a>
      {{/if}}
    </div>

  </div>





</body>

</html>