<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  <h1>Enter a room</h1>
  <input type="text" name="room" id="room" placeholder="enter room name...">
  <input type="submit" value="Join">

{{!-- When user clicks join then emit a join event --}}
{{!--  --}}
</body>

</html>