  <style>
    * {
      margin: 0;
      box-sizing: border-box
    }

    body {
      background: rgb(22, 22, 22);
    }

    main {
      margin-top: 1rem;
      width: 60vw;
      height: 80vh;
      margin: auto;
      background: rgb(245, 246, 255);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .infobar {
      width: 100%;
      padding: 1rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
    }

    .onlineIcon {
      width: 1.3rem;
      height: 1.3rem;
      background: rgb(46, 221, 46);
      border-radius: 50%;
      border: 1px solid rgb(92, 92, 92);
    }

    .time {
      color: #b9b9b9;
    }

    form {
      bottom: 0;
      width: 100%;
    }

    section {
      list-style-type: none;
      padding: 1rem;
      width: 100%;
      height: 100%;
    }


    ul {
      list-style: none;
    }

    .messages {
      overflow-y: scroll;
    }

    input[type=submit] {
      background-color: #3f3fdd;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      border-radius: 5rem;
    }
    button {
      background: rgb(207, 207, 207);
      color: rgb(29, 29, 29);
      border: none;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      border-radius: 5rem;
    }

  </style>

<body>
  {{#if loggedIn}}

  <main>
    <div class="infobar">
      <h3 class="room-name">Chat Room</h3>
      <div class="onlineIcon"></div>
    </div>
    <section class="messages"></section>
    <form>
      <input type="text" name="message" class="form-control" id="message">
      <input type="submit" value="Send">
      <button class="leave">Leave</button>
    </form>
  </main>
  {{else}}
  <h3>You need to be logged in to ente this chat room</h3>
  {{/if}}

  <script>

    document.querySelector("button").addEventListener('click', () => {
      window.location = "/"
    })

    const socket = io();

    const form = document.querySelector("form");
    const messages = document.querySelector(".messages")
    const { nickname, room, color } = Qs.parse(location.search, {
      ignoreQueryPrefix: true
    })

    document.querySelector(".room-name").textContent = `${room} Room`;

    document.querySelector(".infobar").style.backgroundColor = color;

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const user = {
        name: nickname,
        room: room,
        id: socket.id
      }

      socket.emit('sendMessage', { msg: form.message.value })

      form.reset();
      return false;
    })
    socket.on('message', ({ user, text }) => {
      const messages = document.querySelector(".messages"); // section
      const div = document.createElement("div");
      const nameP = document.createElement('span');
      const msgP = document.createElement('span')
      const timeP = document.createElement('p');

      if (user === "admin") {
        nameP.style.fontWeight = "bold";
        nameP.style.color = "black";
      } else {
        nameP.style.fontWeight = "bold"
        nameP.style.color = color
      }

      div.className = "message"
      msgP.textContent = text;
      nameP.textContent = `${user}: `;
      nameP.className = "name"
      timeP.textContent = moment().format("h:mm a")
      timeP.className = "time"

      div.appendChild(nameP)
      div.appendChild(msgP)
      div.appendChild(timeP)
      messages.appendChild(div)
    })

<<<<<<< HEAD:server/views/socket/chat.handlebars
    socket.emit('join', { username, room })
<<<<<<< HEAD

    console.log("username=>", username)
    console.log("room=>", room)
    socket.emit({ username, room }) //!sending username and room to server
=======
>>>>>>> 86428eb04f81be7c6c51c409a0ad9f0cf03ad94d
=======
    socket.emit('join', { nickname, room })
>>>>>>> ed58785079699cd38301070b42440402dbd0398a:views/socket/chat.handlebars
  </script>
</body>

</html>